@import "../../styles/partials/variables";

.Input {
  width: 100%;
  height: $Input-height;
  padding: $Input-padding;
  background-color: $Input-bg-color;
  font-size: $Input-font-size;
  border: $Input-border;
  border-radius: $Input-border-radius;
  &:focus-visible {
    background-color: $Input-focus-visible-bg-color;
    border: 0;
    outline: $Input-focus-visible-outline;
  }
}
.Input--success {
  border: 0;
  outline: $Input--success-outline;
}
.Input--error {
  background-color: $Input--error-bg-color;
  border: 0;
  outline: $Input--error-outline;
}
