// Media queries
$media-query-xxsmall-screen: 320px;
$media-query-xsmall-screen: 360px;
$media-query-small-screen: 420px;
$media-query-medium-screen: 480px;
$media-query-large-screen: 750px;
$media-query-xlarge-screen: 900px;
$media-query-xxlarge-screen: 1200px;

// Colors
// $color-biloba-flower: #a9b3e9;
$color-biloba-flower: #5469d480;
$color-cinnabar: #e74c3c;
$color-indigo: #5469d4;
// $color-iron: #dfe0e4;
$color-iron: #3c425729;
$color-mercury: #e5e5e5;
$color-rose-white: #fffafa;
$color-shamrock: #2ecc71;
$color-whisper: #f5f6fa;
$color-white: #ffffff;

// index
$body-font-size: 1.6rem;
$body-margin: 0;
$html-font-size: 62.5%;

/* Scss variables per react component*/

// App
$App-bg-color: $color-whisper;
$App-padding-x: 2rem;
$App-padding-top: 2rem;
$App-padding-bottom: 4rem;
$App-padding: $App-padding-top $App-padding-x $App-padding-bottom $App-padding-x;
$App-row-gap: $App-padding-bottom;

// Button
$Button-bg-color: $color-indigo;
$Button-border: 0;
$Button-border-radius: 0.4rem;
$Button-color: $color-white;
$Button-font-size: 1.6rem;
$Button-font-weight: 700;
$Button-min-height: 4.4rem;
$Button-padding: 0.8rem 1.6rem;

// ButtonWrapper
$ButtonWrapper-media-query-small-screen-or-bigger-max-width: 250px;

// ComponentTitle
$ComponentTitle-color: $color-indigo;
$ComponentTitle-font-size: 3.2rem;
$ComponentTitle-font-size-small-screen-and-bigger: 3.8rem;
$ComponentTitle-font-weight: 700;
$ComponentTitle-margin: 0;

// ComponentTitleWrapper
$ComponentTitleWrapper-margin-bottom: 1.2rem;
$ComponentTitleWrapper-margin-bottom-small-screen-and-bigger: 2.4rem;
$ComponentTitleWrapper-margin-top: 0rem;
$ComponentTitleWrapper-margin-top-small-screen-and-bigger: 0rem;

// ControlsBST
$ControlsBST-row-gap: 2.4rem;
$ControlsBST-row-gap-small-screen-and-bigger: 1.6rem;

// ControlsBSTWrapper
$ControlsBSTWrapper-bg-color: $color-white;
$ControlsBSTWrapper-border-radius: 1rem;
$ControlsBSTWrapper-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
$ControlsBSTWrapper-max-width: 600px;
$ControlsBSTWrapper-padding-x: $ControlsBST-row-gap;
$ControlsBSTWrapper-padding-y: calc($ComponentTitleWrapper-margin-bottom + $ControlsBST-row-gap);
$ControlsBSTWrapper-padding: $ControlsBSTWrapper-padding-y $ControlsBSTWrapper-padding-x;
$ControlsBSTWrapper-padding-small-screen-and-bigger-x: calc($ControlsBST-row-gap-small-screen-and-bigger * 2);
$ControlsBSTWrapper-padding-small-screen-and-bigger-y: calc($ComponentTitleWrapper-margin-bottom-small-screen-and-bigger + $ControlsBST-row-gap-small-screen-and-bigger);
$ControlsBSTWrapper-padding-small-screen-and-bigger: $ControlsBSTWrapper-padding-small-screen-and-bigger-y $ControlsBSTWrapper-padding-small-screen-and-bigger-x;

// Fieldset
$Fieldset-border: 0;
$Fieldset-column-gap: 1.6rem;
$Fieldset-column-gap-medium-screen-and-bigger: 1.6rem;
$Fieldset-margin: 0;
$Fieldset-padding: 0;

// FieldsetMessage
$FieldsetMessage-font-size: 1.4rem;
$FieldsetMessage-font-weight: 500;
$FieldsetMessage-icon-font-size: $FieldsetMessage-font-size;
$FieldsetMessage-line-height: calc(max($FieldsetMessage-font-size, $FieldsetMessage-icon-font-size));
$FieldsetMessage--error-color: $color-cinnabar;
$FieldsetMessage--success-color: $color-shamrock;

// FieldsetMessageUpdatedSuccessValue
$FieldsetMessageUpdatedSuccessValue__icon-font-size: $FieldsetMessage-font-size;
$FieldsetMessageUpdatedSuccessValue__icon-margin-right: 0.4rem;
$FieldsetMessageUpdatedSuccessValue__icon--error-color: $FieldsetMessage--error-color;
$FieldsetMessageUpdatedSuccessValue__icon--success-color: $FieldsetMessage--success-color;
$FieldsetMessageUpdatedSuccessValue__message-font-size: $FieldsetMessage-font-size;
$FieldsetMessageUpdatedSuccessValue__message-font-weight: $FieldsetMessage-font-weight;

// FieldsetMessageWrapper
$FieldsetMessageWrapper-margin-bottom: 0.6rem;
$FieldsetMessageWrapper-margin-bottom-small-screen-and-bigger: 0;
$FieldsetMessageWrapper-margin-top: $FieldsetMessageWrapper-margin-bottom;

// FieldsetWrapper
$FieldsetWrapper-border: 0.2rem solid $color-mercury;
$FieldsetWrapper-border-radius: calc($ControlsBSTWrapper-border-radius*0.8);
$FieldsetWrapper-margin-bottom: 0;
$FieldsetWrapper-margin-bottom-small-screen-and-bigger: 0;
$FieldsetWrapper-padding: $Fieldset-column-gap;
$FieldsetWrapper-padding-small-screen-and-bigger: $Fieldset-column-gap-medium-screen-and-bigger;

// FigureBST
$FigureBST-margin: 0;

// FigureBSTWrapper
$FigureBSTWrapper-border: $FieldsetWrapper-border;
$FigureBSTWrapper-border-radius: $FieldsetWrapper-border-radius;
$FigureBSTWrapper-padding: $FieldsetWrapper-padding;
$FigureBSTWrapper-padding-small-screen-and-bigger: $FieldsetWrapper-padding-small-screen-and-bigger;

// Form
$Form-row-gap: $ControlsBST-row-gap;
$Form-row-gap-small-screen-and-bigger: $ControlsBST-row-gap-small-screen-and-bigger;

// FormWrapper

// Header
$Header-color: $color-indigo;
$Header-font-size: 4rem;
$Header-font-size-small-screen-and-bigger: 4.6rem;
$Header-font-weight: 900;
$Header-margin: 0;

// HeaderWrapper
$HeaderWrapper-margin-bottom: 5rem;
$HeaderWrapper-margin-top: 2rem;

// Input
$Input-bg-color: $color-white;
$Input-border: 0.1rem solid $color-iron;
$Input-border-radius: 0.4rem;
$Input-focus-visible-bg-color: $Input-bg-color;
$Input-focus-visible-outline-width: 0.2rem;
$Input-focus-visible-outline-style: solid;
$Input-focus-visible-outline-color: $color-biloba-flower;
$Input-focus-visible-outline: $Input-focus-visible-outline-width $Input-focus-visible-outline-style $Input-focus-visible-outline-color;
$Input-font-size: 1.6rem;
$Input-height: 4.4rem;
$Input-padding-x: 1.6rem;
$Input-padding: 0 $Input-padding-x;
$Input--error-bg-color: $color-rose-white;
$Input--error-outline-width: $Input-focus-visible-outline-width;
$Input--error-outline-style: $Input-focus-visible-outline-style;
$Input--error-outline-color: $FieldsetMessage--error-color;
$Input--error-outline: $Input-focus-visible-outline-width $Input-focus-visible-outline-style $Input--error-outline-color;
$Input--success-outline-width: $Input-focus-visible-outline-width;
$Input--success-outline-style: $Input-focus-visible-outline-style;
$Input--success-outline-color: $FieldsetMessage--success-color;
$Input--success-outline: $Input--success-outline-width $Input--success-outline-style $Input--success-outline-color;

// InputIcon
$InputIcon-font-size: $Input-font-size;
$InputIcon--error-color: $FieldsetMessage--error-color;
$InputIcon--success-color: $FieldsetMessage--success-color;

// InputIconWrapper
$InputIconWrapper-right: $Input-padding-x;

// InputInputIconContainer

// InputInputIconContainerWrapper

// InputWrapper

// Label
$Label-font-size: $FieldsetMessage-font-size;
$Label-font-weight: $FieldsetMessage-font-weight;

// LabelWrapper
$LabelWrapper-margin-bottom: $FieldsetMessageWrapper-margin-top;

// RebalanceBST

// RebalanceBSTButtonWrapper

// RebalanceBSTMessage
$RebalanceBSTMessage-color: $FieldsetMessage--success-color;
$RebalanceBSTMessage-font-size: $FieldsetMessage-font-size;
$RebalanceBSTMessage-font-weight: $FieldsetMessage-font-weight;
$RebalanceBSTMessage-line-height: $FieldsetMessage-line-height;

// RebalanceBSTMessageWrapper
$RebalanceBSTMessageWrapper-margin-bottom: calc($LabelWrapper-margin-bottom*2);
$RebalanceBSTMessageWrapper-margin-top: 0;

// RebalanceBSTTitle
$RebalanceBSTTitle-font-size: $Label-font-size;
$RebalanceBSTTitle-font-weight: $Label-font-weight;

// RebalanceBSTTitleWrapper
$RebalanceBSTTitleWrapper-margin-bottom: $RebalanceBSTMessageWrapper-margin-bottom;

// RebalanceBSTWrapper
$RebalanceBSTWrapper-border: $FieldsetWrapper-border;
$RebalanceBSTWrapper-border-radius: $FieldsetWrapper-border-radius;
$RebalanceBSTWrapper-padding: $FieldsetWrapper-padding;
$RebalanceBSTWrapper-padding-small-screen-and-bigger: $FieldsetWrapper-padding-small-screen-and-bigger;

// VisualizationBST
$VisualizationBST-row-gap: $ControlsBST-row-gap;
$VisualizationBST-row-gap-small-screen-and-bigger: $ControlsBST-row-gap-small-screen-and-bigger;

// VisualizationBSTWrapper
$VisualizationBSTWrapper-bg-color: $ControlsBSTWrapper-bg-color;
$VisualizationBSTWrapper-border-radius: $ControlsBSTWrapper-border-radius;
$VisualizationBSTWrapper-box-shadow: $ControlsBSTWrapper-box-shadow;
$VisualizationBSTWrapper-max-width: $ControlsBSTWrapper-max-width;
$VisualizationBSTWrapper-padding: $ControlsBSTWrapper-padding;
$VisualizationBSTWrapper-padding-small-screen-and-bigger: $ControlsBSTWrapper-padding-small-screen-and-bigger;
