// Media queries
$media-query-xxsmall-screen: 320px;
$media-query-xsmall-screen: 360px;
$media-query-small-screen: 420px;
$media-query-medium-screen: 480px;
$media-query-large-screen: 750px;
$media-query-xlarge-screen: 900px;
$media-query-xxlarge-screen: 1200px;

// index
$body-font-size: 1.6rem;

// App
$App-bg-color: #ffffff;
// $App-bg-color: red;

// color
$primary-text-color: #7fd3ed;
$primary-text-color: #e3e8ee;
$primary-text-color: #212d63;
$primary-text-color: #5469d4;
// $primary-text-color: #5469d4;
// $primary-text-color: rgb(84, 105, 212);
// $primary-text-color: rgb(84, 105, 212);
// $input-focus-color: #777;
// $input-success-color: #2ecc71;
// $input-error-color: #e74c3c;

// Header

// ControlsBST
$ControlsBST-font-size: 1.6rem;
$ControlsBST__form-column-gap-small: 1.6rem;
$ControlsBST__form-column-gap-medium: 2rem;
$ControlsBST__form-label-margin-bottom: 1rem;
$ControlsBST__form-label-font-size: 1.4rem;
$ControlsBST__form-label-font-weight: 500;
$ControlsBST__form-input-font-size: 1.6rem;
$ControlsBST__form-input-padding-x: 1.6rem;
$ControlsBST__form-input-padding: 0 $ControlsBST__form-input-padding-x;
$ControlsBST__form-input-height: 4.4rem;
$ControlsBST__form-input-border: 0.1rem solid rgba(60, 66, 87, 0.16);
$ControlsBST__form-input-border-radius: 0.4rem;
$ControlsBST__form-input-background-color: #fff;
$ControlsBST__form-input-focus-visible-background-color: #fff;
$ControlsBST__form-input-focus-visible-outline-width: .2rem;
$ControlsBST__form-input-focus-visible-outline-style: solid;
$ControlsBST__form-input-focus-visible-outline-color: rgb(84 105 212 / 0.5);
$ControlsBST__form-input-focus-visible-outline: $ControlsBST__form-input-focus-visible-outline-width $ControlsBST__form-input-focus-visible-outline-style $ControlsBST__form-input-focus-visible-outline-color;
$ControlsBST__form-input--success-outline-width: $ControlsBST__form-input-focus-visible-outline-width;
$ControlsBST__form-input--success-outline-style: $ControlsBST__form-input-focus-visible-outline-style;
$ControlsBST__form-input--success-outline-color: #2ecc71;
$ControlsBST__form-input--success-outline: $ControlsBST__form-input--success-outline-width $ControlsBST__form-input--success-outline-style $ControlsBST__form-input--success-outline-color;
$ControlsBST__form-input--error-background-color: #fffafa;
$ControlsBST__form-input--error-outline-width: $ControlsBST__form-input-focus-visible-outline-width;
$ControlsBST__form-input--error-outline-style: $ControlsBST__form-input-focus-visible-outline-style;
$ControlsBST__form-input--error-outline-color: #e74c3c;
$ControlsBST__form-input--error-outline: $ControlsBST__form-input-focus-visible-outline-width $ControlsBST__form-input-focus-visible-outline-style $ControlsBST__form-input--error-outline-color;
$ControlsBST__form-input-icon-right: $ControlsBST__form-input-padding-x;
$ControlsBST__form-input-icon-font-size: 1.6rem;
$ControlsBST__form-input-icon-success-color: $ControlsBST__form-input--success-outline-color;
$ControlsBST__form-input-icon-error-color: $ControlsBST__form-input--error-outline-color;
$ControlsBST__form-button-height: 4.4rem;
$ControlsBST__form-button-padding: .8rem 1.6rem;
$ControlsBST__form-button-font-size: 1.6rem;
$ControlsBST__form-button-font-weight: 700;
$ControlsBST__form-button-color: #fff;
$ControlsBST__form-button-bg-color: $primary-text-color;
$ControlsBST__form-button-border: 0;
$ControlsBST__form-button-border-radius: .4rem;
$ControlsBST__form-button-margin-bottom: 0;
$ControlsBST__form-button-margin-bottom-small: 3rem;
$ControlsBST__form-button--large-margin-bottom: 0;
$ControlsBST__form-message-margin-top: $ControlsBST__form-label-margin-bottom;
$ControlsBST__form-message-margin-bottom: $ControlsBST__form-button-margin-bottom-small;
$ControlsBST__form-message-margin-bottom-small: $ControlsBST__form-label-margin-bottom;
$ControlsBST__form-message-font-size: $ControlsBST__form-label-font-size;
$ControlsBST__form-message-font-weight: $ControlsBST__form-label-font-weight;
$ControlsBST__form-message--success-color: $ControlsBST__form-input--success-outline-color;
$ControlsBST__form-message--error-color: $ControlsBST__form-input--error-outline-color;
$ControlsBST__form-message-icon-font-size: $ControlsBST__form-message-font-size;
$ControlsBST__form-message-icon-margin-right: .4rem;
$ControlsBST__form-message-icon--success-color: $ControlsBST__form-message--success-color;
$ControlsBST__form-message-icon--error-color: $ControlsBST__form-message--error-color;
$ControlsBST__form-message-line-height: calc(max($ControlsBST__form-message-font-size, $ControlsBST__form-message-icon-font-size));
