// Media queries
$media-query-xxsmall-screen: 320px;
$media-query-xsmall-screen: 360px;
$media-query-small-screen: 420px;
$media-query-medium-screen: 480px;
$media-query-large-screen: 750px;
$media-query-xlarge-screen: 900px;
$media-query-xxlarge-screen: 1200px;

// color
// $color-biloba-flower: #a9b3e9;
$color-biloba-flower: #5469d480;
$color-cinnabar: #e74c3c;
$color-indigo: #5469d4;
// $color-iron: #dfe0e4;
$color-iron: #3c425729;
$color-rose-white: #fffafa;
$color-shamrock: #2ecc71;
$color-white: #ffffff;

// index
$body-font-size: 1.6rem;
$html-font-size: 62.5%;

/* Scss variables per react component*/

// App
$App-bg-color: $color-white;
$App-padding: 0 2rem;

// Button
$Button-bg-color: $color-indigo;
$Button-border: 0;
$Button-border-radius: 0.4rem;
$Button-color: $color-white;
$Button-font-size: 1.6rem;
$Button-font-weight: 700;
$Button-min-height: 4.4rem;
$Button-padding: 0.8rem 1.6rem;

// ButtonWrapper
$ButtonWrapper-margin-bottom: 0;
$ButtonWrapper-margin-bottom-small: 3rem;
$ButtonWrapper-media-query-small-screen-or-bigger-max-width: 250px;

// ControlsBST

// ControlsBSTWrapper

// Fieldset
$Fieldset-column-gap-medium: 2rem;
$Fieldset-column-gap-small: 1.6rem;

// FieldsetMessage
$FieldsetMessage-font-size: 1.4rem;
$FieldsetMessage-font-weight: 500;
$FieldsetMessage-icon-font-size: $FieldsetMessage-font-size;
$FieldsetMessage-line-height: calc(max($FieldsetMessage-font-size, $FieldsetMessage-icon-font-size));
$FieldsetMessage--error-color: $color-cinnabar;
$FieldsetMessage--success-color: $color-shamrock;

// FieldsetMessageUpdatedSuccessValue
$FieldsetMessageUpdatedSuccessValue__icon-font-size: $FieldsetMessage-font-size;
$FieldsetMessageUpdatedSuccessValue__icon-margin-right: 0.4rem;
$FieldsetMessageUpdatedSuccessValue__icon--error-color: $FieldsetMessage--error-color;
$FieldsetMessageUpdatedSuccessValue__icon--success-color: $FieldsetMessage--success-color;
$FieldsetMessageUpdatedSuccessValue__message-font-size: $FieldsetMessage-font-size;
$FieldsetMessageUpdatedSuccessValue__message-font-weight: $FieldsetMessage-font-weight;

// FieldsetMessageWrapper

// FieldsetWrapper

// Form

// FormWrapper

// Header
$Header-color: $color-indigo;
$Header-font-size: 3.2rem;
$Header-font-size-small-screen-and-bigger: 4rem;

// HeaderWrapper
$HeaderWrapper-margin-top: 1rem;

// Input
$Input-bg-color: $color-white;
$Input-border: 0.1rem solid $color-iron;
$Input-border-radius: 0.4rem;
$Input-focus-visible-bg-color: $Input-bg-color;
$Input-focus-visible-outline-width: 0.2rem;
$Input-focus-visible-outline-style: solid;
$Input-focus-visible-outline-color: $color-biloba-flower;
$Input-focus-visible-outline: $Input-focus-visible-outline-width $Input-focus-visible-outline-style $Input-focus-visible-outline-color;
$Input-font-size: 1.6rem;
$Input-height: 4.4rem;
$Input-padding-x: 1.6rem;
$Input-padding: 0 $Input-padding-x;
$Input--error-bg-color: $color-rose-white;
$Input--error-outline-width: $Input-focus-visible-outline-width;
$Input--error-outline-style: $Input-focus-visible-outline-style;
$Input--error-outline-color: $FieldsetMessage--error-color;
$Input--error-outline: $Input-focus-visible-outline-width $Input-focus-visible-outline-style $Input--error-outline-color;
$Input--success-outline-width: $Input-focus-visible-outline-width;
$Input--success-outline-style: $Input-focus-visible-outline-style;
$Input--success-outline-color: $FieldsetMessage--success-color;
$Input--success-outline: $Input--success-outline-width $Input--success-outline-style $Input--success-outline-color;

// InputIcon
$InputIcon-font-size: 1.6rem;
$InputIcon--error-color: $FieldsetMessage--error-color;
$InputIcon--success-color: $FieldsetMessage--success-color;

// InputIconWrapper
$InputIconWrapper-right: $Input-padding-x;

// InputInputIconContainer

// InputInputIconContainerWrapper

// InputWrapper

// Label
$Label-font-size: $FieldsetMessage-font-size;
$Label-font-weight: $FieldsetMessage-font-weight;

// LabelWrapper

// RebalanceBST

// RebalanceBSTButtonWrapper

// RebalanceBSTMessage
$RebalanceBSTMessage-color: $FieldsetMessage--success-color;
$RebalanceBSTMessage-font-size: $FieldsetMessage-font-size;
$RebalanceBSTMessage-font-weight: $FieldsetMessage-font-weight;
$RebalanceBSTMessage-line-height: $FieldsetMessage-line-height;

// RebalanceBSTMessageWrapper

// RebalanceBSTWrapper
