@import "../../styles/partials/variables";

.ButtonWrapper {
  grid-area: button-wrapper;
  width: 100%;
  @media screen and (min-width: $media-query-small-screen) {
    max-width: $ButtonWrapper-media-query-small-screen-or-biggger-max-width;
  }
}
