@import "../../styles/partials/variables";

.App {
  display: grid;
  grid-template-areas: 
    "HeaderWrapper"
    "ControlsBSTWrapper"
    "VisualizationBSTWrapper"
  ;
  align-content: flex-start;
  justify-items: center;
  row-gap: $App-row-gap;
  height: 100%;
  padding: $App-padding;
  overflow: auto;
  background-color: $App-bg-color;
}
