@import "../../styles/partials/variables";

.Fieldset {
  // display: grid;
  // grid-template-columns: 1fr 1fr;
  // @media screen and (min-width: $media-query-small-screen) {
  //   grid-template-columns: 1fr .5fr;
  // }
  display: contents;
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  // delete later
  border: 2px solid red;
  .FormFieldset__label {
    // @media screen and (min-width: $media-query-small-screen) {
    //   grid-column: span 2;
    // }
    display: block;
    margin-bottom: $ControlsBST__form-label-margin-bottom;
    font-size: $ControlsBST__form-label-font-size;
    font-weight: $ControlsBST__form-label-font-weight;
  }
  .FormFieldset__input-icon-wrapper {
    position: relative;
    width: 100%;
    .FormFieldset__input {
      width: 100%;
      font-size: $ControlsBST__form-input-font-size;
      padding: $ControlsBST__form-input-padding;
      height: $ControlsBST__form-input-height;
      border: $ControlsBST__form-input-border;
      border-radius: $ControlsBST__form-input-border-radius;
      background-color: $ControlsBST__form-input-background-color;
      &:focus-visible {
        background-color: $ControlsBST__form-input-focus-visible-background-color;
        border: 0;
        outline: $ControlsBST__form-input-focus-visible-outline;
      }
      // &:focus + .FormFieldset__input-icon {
      //   // display: none;
      // }
    }
    .FormFieldset__input--success {
      border: 0;
      outline: $ControlsBST__form-input--success-outline;
    }
    .FormFieldset__input--error {
      background-color: $ControlsBST__form-input--error-background-color;
      border: 0;
      outline: $ControlsBST__form-input--error-outline;
    }
    .FormFieldset__input-icon {
      position: absolute;
      top: 50%;
      right: $ControlsBST__form-input-icon-right;
      transform: translate(0%, -50%);
      font-size: $ControlsBST__form-input-icon-font-size;
    }
    .FormFieldset__input-icon--success {
      color: $ControlsBST__form-input-icon-success-color;
    }
    .FormFieldset__input-icon--error {
      color: $ControlsBST__form-input-icon-error-color;
    }
  }
  .FormFieldset__button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: $ControlsBST__form-button-height;
    margin-bottom: $ControlsBST__form-button-margin-bottom-small;
    @media screen and (min-width: $media-query-small-screen) {
      margin-bottom: $ControlsBST__form-button-margin-bottom;
    }
    padding: $ControlsBST__form-button-padding;
    font-size: $ControlsBST__form-button-font-size;
    font-weight: $ControlsBST__form-button-font-weight;
    white-space: normal;
    color: $ControlsBST__form-button-color;
    background-color: $primary-text-color;
    border: $ControlsBST__form-button-border;
    border-radius: $ControlsBST__form-button-border-radius;
    cursor: pointer;
  }
  .FormFieldset__button--large {
    grid-area: button-large;
    margin-bottom: $ControlsBST__form-button--large-margin-bottom;
    @media screen and (min-width: $media-query-small-screen) {
      grid-column: span 2;
    }
  }
  .FormFieldset__message {
    display: flex;
    align-items: center;
    @media screen and (min-width: $media-query-small-screen) {
      grid-column: span 2;
      margin-bottom: $ControlsBST__form-message-margin-bottom;
    }
    margin-top: $ControlsBST__form-message-margin-top;
    margin-bottom: $ControlsBST__form-message-margin-bottom-small;
    font-size: $ControlsBST__form-message-font-size;
    font-weight: $ControlsBST__form-message-font-weight;
    // visibility: hidden;
    line-height: $ControlsBST__form-message-line-height;
    .FormFieldset__message-icon {
      font-size: $ControlsBST__form-message-icon-font-size;
      margin-right: $ControlsBST__form-message-icon-margin-right;
    }
    .FormFieldset__message-icon--success {
      color: $ControlsBST__form-message-icon--success-color;
    }
    .FormFieldset__message-icon--error {
      color: $ControlsBST__form-message-icon--error-color;
    }
  }
  .FormFieldset__message--success {
    color: $ControlsBST__form-message--success-color;
  }
  .FormFieldset__message--error {
    color: $ControlsBST__form-message--error-color;
  }
}


// .FormFieldset__inputicon-wrapper {
//   position: absolute;
//   top: 50%;
//   right: $FormFieldset__inputicon-wrapper-right;
//   transform: translate(0%, -50%);
// }
