@import "../../styles/partials/variables";

.Fieldset {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: 
    "LabelWrapper"
    "InputInputIconContainerWrapper"
    "FieldsetMessageWrapper"
    "ButtonWrapper";
  @media screen and (min-width: $media-query-small-screen) {
    grid-template-columns: 1fr minmax(0, max-content);
    grid-template-areas: 
      "LabelWrapper LabelWrapper"
      "InputInputIconContainerWrapper ButtonWrapper"
      "FieldsetMessageWrapper FieldsetMessageWrapper"
  }
  column-gap: $Fieldset-column-gap-small;
  @media screen and (min-width: $media-query-medium-screen) {
  column-gap: $Fieldset-column-gap-medium;
  }
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  // delete later
  border: 2px solid red;
}
