@import "../../styles/partials/variables";

.Fieldset {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: 
    "LabelWrapper"
    "InputInputIconContainerWrapper"
    "FieldsetMessageWrapper"
    "ButtonWrapper"
  ;
  @media screen and (min-width: $media-query-small-screen) {
    grid-template-columns: 1fr minmax(0, max-content);
    grid-template-areas: 
      "LabelWrapper LabelWrapper"
      "InputInputIconContainerWrapper ButtonWrapper"
      "FieldsetMessageWrapper FieldsetMessageWrapper"
    ;
  }
  column-gap: $Fieldset-column-gap;
  @media screen and (min-width: $media-query-medium-screen) {
    column-gap: $Fieldset-column-gap-medium-screen-and-bigger;
  }
  width: 100%;
  margin: $Fieldset-margin;
  padding: $Fieldset-padding;
  border: $Fieldset-border;
}
