@import "../../styles/partials/variables";

.FieldsetMessageUpdatedSuccessValue {
  display: flex;
  align-items: center;
  width: 100%;
  .FieldsetMessageUpdatedSuccessValue__icon {
    margin-right: $FieldsetMessageUpdatedSuccessValue__icon-margin-right;
    font-size: $FieldsetMessageUpdatedSuccessValue__icon-font-size;
  }
  .FieldsetMessageUpdatedSuccessValue__icon--success {
    color: $FieldsetMessageUpdatedSuccessValue__icon--success-color;
  }
  .FieldsetMessageUpdatedSuccessValue__icon--error {
    color: $FieldsetMessageUpdatedSuccessValue__icon--error-color;
  }
  .FieldsetMessageUpdatedSuccessValue__message {
    font-size: $FieldsetMessageUpdatedSuccessValue__message-font-size;
    font-weight: $FieldsetMessageUpdatedSuccessValue__message-font-weight;
  }
}
