@import '../../styles/partials/variables';

.Header {
  margin: $Header-margin;
  font-size: $Header-font-size;
  @media screen and (min-width: $media-query-small-screen) {
    font-size: $Header-font-size-small-screen-and-bigger;
  }
  font-weight: $Header-font-weight;
  color: $Header-color;
  text-align: center;
}
