@import '../../styles/partials/variables';

.Header {
  margin: 0;
  margin-top: 10px;
  font-size: 3.2rem;
  @media screen and (min-width: $media-query-small-screen) {
    font-size: 4rem;
  }
  color: $primary-text-color;
  text-align: center;
}
