@import "../../styles/partials/variables";

.RebalanceBSTMessage {
  width: 100%;
  color: $RebalanceBSTMessage-color;
  font-size: $RebalanceBSTMessage-font-size;
  font-weight: $RebalanceBSTMessage-font-weight;
  line-height: $RebalanceBSTMessage-line-height;
}
