@import "../../styles/partials/variables";

.ControlsBST {
  font-size: $ControlsBST-font-size;
  border: 2px solid red;
  .ControlsBST__form {
    display: grid;
    grid-template-areas: 
        "label-1 label-1"
        "input-1 input-1"
        "message-1 message-1"
        "button-1 button-1"
        "label-2 label-2"
        "input-2 input-2"
        "message-2 message-2"
        "button-2 button-2"
        "label-3 label-3"
        "input-3 input-3"
        "message-3 message-3"
        "button-3 button-3"
        "label-4 label-4"
        "input-4 input-4"
        "message-4 message-4"
        "button-4 button-4"
        "label-5 label-5"
        "input-5 input-5"
        "message-5 message-5"
        "button-5 button-5"
        "button-large button-large";
    @media screen and (min-width: $media-query-small-screen) {
      grid-template-columns: 1fr max-content;
      grid-template-areas: 
        "label-1 label-1"
        "input-1 button-1"
        "message-1 message-1"
        "label-2 label-2"
        "input-2 button-2"
        "message-2 message-2"
        "label-3 label-3"
        "input-3 button-3"
        "message-3 message-3"
        "label-4 label-4"
        "input-4 button-4"
        "message-4 message-4"
        "label-5 label-5"
        "input-5 button-5"
        "message-5 message-5"
        "button-large button-large";
    }
    column-gap: $ControlsBST__form-column-gap-small;
    @media screen and (min-width: $media-query-medium-screen) {
    column-gap: $ControlsBST__form-column-gap-medium;
    }
    .ControlsBST__form-label {
      @media screen and (min-width: $media-query-small-screen) {
        grid-column: span 2;
      }
      display: block;
      margin-bottom: $ControlsBST__form-label-margin-bottom;
      font-size: $ControlsBST__form-label-font-size;
      font-weight: $ControlsBST__form-label-font-weight;
    }
    .ControlsBST__form-label-1 {
      grid-area: label-1;
    }
    .ControlsBST__form-label-2 {
      grid-area: label-2;
    }
    .ControlsBST__form-label-3 {
      grid-area: label-3;
    }
    .ControlsBST__form-label-4 {
      grid-area: label-4;
    }
    .ControlsBST__form-label-5 {
      grid-area: label-5;
    }
    .ControlsBST__form-input {
      width: 100%;
      font-size: $ControlsBST__form-input-font-size;
      padding: $ControlsBST__form-input-padding;
      height: $ControlsBST__form-input-height;
      border: $ControlsBST__form-input-border;
      border-radius: $ControlsBST__form-input-border-radius;
      background-color: $ControlsBST__form-input-background-color;
      &:focus {
        outline-style: solid;
        outline-color: $ControlsBST__form-input-focus-outline-color;
        outline-width: $ControlsBST__form-input-focus-outline-width;
        // border: 0;
      }
    }
    .ControlsBST__form-input-1 {
      grid-area: input-1;
    }
    .ControlsBST__form-input-2 {
      grid-area: input-2;
    }
    .ControlsBST__form-input-3 {
      grid-area: input-3;
    }
    .ControlsBST__form-input-4 {
      grid-area: input-4;
    }
    .ControlsBST__form-input-5 {
      grid-area: input-5;
    }
    .ControlsBST__form-input--success {
      outline-style: solid;
      outline-color: $ControlsBST__form-input--success-outline-color;
      outline-width: $ControlsBST__form-input--success-outline-width;
      // border: 0;
    }
    .ControlsBST__form-input--error {
      outline-style: solid;
      outline-color: $ControlsBST__form-input--error-outline-color;
      outline-width: $ControlsBST__form-input--error-outline-width;
      // border: 0;
    }
    .ControlsBST__form-input-icon {
      font-size: $ControlsBST__form-input-icon-font-size;
    }
    .ControlsBST__form-input-icon--success {
      color: $ControlsBST__form-input-icon-success-color;
    }
    .ControlsBST__form-input-icon--error {
      color: $ControlsBST__form-input-icon-error-color;
    }
    .ControlsBST__form-button {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: $ControlsBST__form-button-height;
      margin-bottom: $ControlsBST__form-button-margin-bottom-small;
      @media screen and (min-width: $media-query-small-screen) {
        margin-bottom: $ControlsBST__form-button-margin-bottom;
      }
      padding: $ControlsBST__form-button-padding;
      font-size: $ControlsBST__form-button-font-size;
      font-weight: $ControlsBST__form-button-font-weight;
      white-space: normal;
      color: $ControlsBST__form-button-color;
      background-color: $primary-text-color;
      border: $ControlsBST__form-button-border;
      border-radius: $ControlsBST__form-button-border-radius;
      cursor: pointer;
    }
    .ControlsBST__form-button-1 {
      grid-area: button-1;
    }
    .ControlsBST__form-button-2 {
      grid-area: button-2;
    }
    .ControlsBST__form-button-3 {
      grid-area: button-3;
    }
    .ControlsBST__form-button-4 {
      grid-area: button-4;
    }
    .ControlsBST__form-button-5 {
      grid-area: button-5;
    }
    .ControlsBST__form-button--large {
      grid-area: button-large;
      margin-bottom: $ControlsBST__form-button--large-margin-bottom;
      @media screen and (min-width: $media-query-small-screen) {
        grid-column: span 2;
      }
    }
    .ControlsBST__form-message {
      @media screen and (min-width: $media-query-small-screen) {
        grid-column: span 2;
        margin-bottom: $ControlsBST__form-message-margin-bottom;
      }
      margin-top: $ControlsBST__form-message-margin-top;
      margin-bottom: $ControlsBST__form-message-margin-bottom-small;
      font-size: $ControlsBST__form-message-font-size;
      font-weight: $ControlsBST__form-message-font-weight;
      // visibility: hidden;
    }
    .ControlsBST__form-message-1 {
      grid-area: message-1;
    }
    .ControlsBST__form-message-2 {
      grid-area: message-2;
    }
    .ControlsBST__form-message-3 {
      grid-area: message-3;
    }
    .ControlsBST__form-message-4 {
      grid-area: message-4;
    }
    .ControlsBST__form-message-5 {
      grid-area: message-5;
    }
    .ControlsBST__form-message--success {
      color: $ControlsBST__form-message--success-color;
    }
    .ControlsBST__form-message--error {
      color: $ControlsBST__form-message--error-color;
    }
  }
}
