@import "../../styles/partials/variables";

.FieldsetMessageWrapper {
  grid-area: FieldsetMessageWrapper;
  width: 100%;
  margin-top: $FieldsetMessageWrapper-margin-top;
  margin-bottom: $FieldsetMessageWrapper-margin-bottom;
  @media screen and (min-width: $media-query-small-screen) {
    margin-bottom: $FieldsetMessageWrapper-margin-bottom-small-screen-and-bigger;
  }
}
