@import "../../styles/partials/variables";

.FieldsetMessage {
  width: 100%;
  font-size: $FieldsetMessage-font-size;
  font-weight: $FieldsetMessage-font-weight;
  line-height: $FieldsetMessage-line-height;
}
.FieldsetMessage--success {
  color: $FieldsetMessage--success-color;
}
.FieldsetMessage--error {
  color: $FieldsetMessage--error-color;
}
