@import "../../styles/partials/variables";

.FieldsetMessage {
  width: 100%;
  font-size: $ControlsBST__form-message-font-size;
  font-weight: $ControlsBST__form-message-font-weight;
  line-height: $ControlsBST__form-message-line-height;
}
.FieldsetMessage--success {
  color: $ControlsBST__form-message--success-color;
}
.FieldsetMessage--error {
  color: $ControlsBST__form-message--error-color;
}
